a.home {
    color: white;
    text-decoration: none;
}

header {
    position: sticky;
    top: 10px;
    background-color: rgba(78, 92, 115, 0.8);
    border-radius: 5px;
    padding: 0 20px;
    margin: 0 10px;
    backdrop-filter: blur(4px);
    box-shadow: 0 2px 2px rgba(0,0,0,.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

h2 {
    font-size: 32px;
}

header > a.new {
    white-space: nowrap;
    background-color: white;
    padding: 8px;
    border: solid 3px #AFD7D7;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,.4);
    text-decoration: none;
    font-size: large;
    float: right;
}

header > a.new:hover {
    text-decoration: underline;
}